/* Custom CSS variables */

:root {
    --main-font-family: "Roboto", sans-serif;
    --main-bg-color: #fff;
    --main-text-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --dark-bg-color: #2F303A;
    --base-size: 16px;
}

/* Main styles */

body {
    font-size: var(--base-size);
    font-family: var(--main-font-family);
    letter-spacing: 0.03em;
    line-height: 1.2;
    color: var(--main-text-color);
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover, .link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.button {
    font-weight: 700;
    font-size: var(--base-size);
    line-height: 1.87;
    letter-spacing: .06em;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #2196f3;
    color: var(--main-bg-color);
}

.button:focus {
    outline: none;
}

.filter-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    color: var(--main-text-color);
    padding: 6px 22px;
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #2196f3;
    color: var(--main-bg-color);
}

.page-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.page-title-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: var( --main-text-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    color: var( --main-text-color);
}

.page-title-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var( --secondary-color);
}

.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    color: var( --main-text-color);
}

.team-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--secondary-color);
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    color: var(--main-text-color);
}

.logo-highlight {
    color: var(--accent-color);
}

.portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.portfolio-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-color);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}